__pycache__/
*.py[cod]
*$py.class
*.so

# =====================================
# Virtual environment (venv)
# =====================================
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/


# =====================================
# Django fayllari
# =====================================
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py


# =====================================
# IDE / Editor fayllari
# =====================================
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
Thumbs.db
